<div class="test">
  <p>{{ section.settings.title }}</p>
  <div class="test2">
    <img src="{{section.settings.image | img_url : 'medium'}}">
    <p>{{ section.settings.text-area }}</p>
  </div>
  {{ section.settings.video 
   | video_tag:
   image_size: "1100x",
   autoplay: true,
   loop: section.settings.enable_video_looping,
   controls: true,
   muted: false }}
</div>

{% schema %}
  {
    "name": "Test section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Test image"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Test collection"
      },
      {
        "type": "textarea",
        "id": "text-area",
        "label": "Text area"
      }, {
        "type": "video",
        "id": "video",
        "label": "Add video"
      }, {
        "type": "checkbox",
        "id": "full_width",
        "label": "t:sections.video.settings.full_width.label",
        "default": false
      }
    ],
    "templates": [
      "index", "page", "product"
    ],
    "presets": [
      {
        "name": "Test section",
        "category": "Testing section"
      }
    ]
  }
{% endschema %}