<div class="test">
  <p>{{ section.settings.title }}</p>
  <div class="test2">
    <img src="{{section.settings.image | img_url : 'medium'}}">
    <p>{{ section.settings.text-area }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Test section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Test image"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Test collection"
      }, {
        "type": "textarea",
        "id": "text-area",
        "label": "Text area"
      }
    ],
    "templates": [
      "index", "page", "product"
    ],
    "presets": [
      {
        "name": "Test section",
        "category": "Testing section"
      }
    ]
  }
{% endschema %}